version: "3.8"

services:
  frontend:
    build:
      context: ./finance-tracker
      args:
        REACT_APP_API_URL: "http://backend:5000"
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"